@font-face {
    font-family: 'titillium-web';
    src: url(../font/TitilliumWeb-Regular.ttf);
}
*{
    font-family: 'georgia';
}
h1{
    font-family:'Georgia';
    font-size: 60px ;
    text-align: center;
    text-shadow: rgb(241, 241, 241) 1px 1px 1px;
}
body{
    background-color: #e9cceb;
    background-image: url(../img/within-3113211_960_720.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
header{
    background-color: whitesmoke;
    margin: 10px;
}
.header-social-media img{
    width: 30px;
}
.header-social-media{
    background-color: #f0c1eed2;
}
.header-social-media a:hover{
    box-shadow: black 1px 1px;
}
.header-content{
    background-image: url(../img/gif.gif);
}
.header-content .titulo h1{
    text-align: center;
    
    text-transform:capitalize;
}
.header-content .unab img{
    width: 200px;
    margin: 20px 10px 30px 10px;
    top:0;
    height: 150px;
}
.unab{
    width: 20%;
}
.logo{
    height: 50%;
}
.titulo{
    width: 80%;
    padding-top: 5px;
}
.header-content{
    display: flex;
}
.navigation{
    background-color: #e07ae7;
    padding: 10px;
    margin-bottom: 10px;
}
main{
    background-color:rgba(233, 135, 233, 0.418);
    margin: 20px;
}
footer{
    margin: 5px;
    background-color: #e8b1ec;
}
.menu{
    width:100%;
}
.menu ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu a{
    display: block;
    background-color: #df69c5;
    color: #FFF;
    padding: 20px;
    text-decoration: none;
    font-family: 'titillium-web';
}
.menu a:hover{
    background-color: #d67add;
    color: rgba(179, 16, 138, 0.575);
    color: white;
}
.menu ul li ul{
    display: none;
}
.menu li:hover ul{
    display: block;
}
.main-content button{
    border: 1px solid #e192e7;
    padding: 20px;
    background-color: #e192e7;
    border-radius: 5%;
    width: 200px;
}
.main-content{
    /*background-image: url(../img/within-3113211_960_720.jpg);*/
    height: 600px;
    /*width: 500%;*/
    margin: 50px;
    text-align: center;
    background-repeat: no-repeat;
}
.main-content button a{
    text-decoration: none;
}
.main-content button a:visited{
    color: rgb(15, 18, 22);
}
.main-content h1{
    color: rgb(77, 6, 77);
    text-shadow: rgb(251, 248, 251) 1px 1px 1px;
    text-transform: capitalize;
    font-size: 50px;
}
.main-text{
    padding: 20px;
}
.main-text a{
    text-decoration: none;
    color: black;
    background-color: rgb(202, 158, 243);
    padding: 10px;
}
/* td{
    width: 50%;
}*/